@import url('https://fonts.googleapis.com/css?family=Mulish');
@import url("https://fonts.googleapis.com/css?family=DM Sans");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100%;
    min-height: 100vh;
}