.bonuses-parent {

   .ranking {
        td {
            font-weight: 700;
        }
   }

    th {
        text-align: left;

        &:first-child {
            position: relative;
            left: 10px;
        }

        &:nth-child(2) {
            position: relative;
            right: 10px;
        }
    }

    td {
        text-align: left;
    }

    button {
        background: #AEAEAE;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 8px;
    }
}

.bonuses-header {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgb(213, 213, 213);
    margin: 10px;
    margin-left: 20px;
    padding: 10px 10px 0 0px;

    p {
        cursor: pointer;
        margin-bottom: 15px;
    }

    .not-active {
        margin-bottom: 0px;
    }
    
    .active {
        color: #00C805;
        font-weight: 700;
        border-bottom: 1px solid #00C805;
    }
}

.referral-custom {
    > div {
        > div:first-child {
            margin-left: -15px;
        }
    }
}

.bonuses-div {
    // h2 {
    //     @media (max-width: 840px) {
    //         position: relative;
    //         left: 25px;
    //     }
    // }
    @media (max-width: 1310px) {
        > div {
            flex-wrap: wrap !important;
            > div {
                width: 250px !important;
                gap: 0 !important;
                margin: 0 !important;
            }
        }
    }
}