* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #00C805;
$custom-bgcolor: #D1D1D1;
$font: "DM Sans";

@mixin mobile {
    @media (max-width:1040px) {
        @content;
    }
}

@mixin small-screen {
    @media (max-width: 635px) {
        @content;
    }
}

.login-main {
    width: 60%;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
    margin-top: 5%;
    @include mobile {
        width: 100%;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
        padding-left: 0;
    }

    img {
        margin: 20px 0;
        margin-left: -30px;
        width: 200px;
    }

    .header {
        margin-top: 20px;
        h2 {
            color: #191919;
            font: {
                size: 1.75rem;
                weight: 700;
                family: $font;
            }
        }
        p {
            margin-top: 3px;
            font: {
                size: 18px;
                family: $font;
            }
            color: #8B8B8B;
            @include small-screen {
                font-size: 0.875rem;
            }
        }
    }

    form {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        div:first-child, div:nth-child(2) {
            border: 1px solid #D1D1D1;
            border-radius: 8px;
            padding: 8px 16px;
            width: 520px;
            height: 56px;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            text-align: center;
            position: relative;
            margin-bottom: 15px;
            @include small-screen {
                width: 300px;
            }

            p {
                font-family: $font;
                font-size: 10px;
                position: absolute;
                top: 3px;
                color: #AEAEAE;
            }

            input {
                border: none;
                outline: none;
                width: 100%;
                padding-bottom: 5px;
                background-color: inherit;
            }
        }

        .password {
            .see-pass {
                width: 1.25rem;
                position: absolute;
                right: 8px;
                top: 20px;
                color: gray;
                cursor: pointer;
            }

            p:last-child {
                color: $primary;
            }
        }

        > p {
            color: $primary;
            position: relative;
            top: -10px;
            font-size: 0.8125rem;
            font-family: $font;
            cursor: pointer;
            text-align: left;
        }

        button {
            width: 240px;
            height: 52px;
            background-color: $primary;
            border: none;
            border-radius: 8px;
            color: #191919;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            margin: 20px 0;
            cursor: pointer;
            border-width: .5px 2px 2px .5px;
            border-style: solid;
            border-color: black;
        }

        .last-content {
            display: flex;
            align-items: center;
            gap: 5px;
            @include mobile {
                justify-content: center;
            }

            p {
                font-family: $font;
                color: #696969;
                font-size: 0.875rem;
            }

            p:last-child {
                cursor: pointer;
                
                a {
                    color: $primary;
                    text-decoration: none;
                }
            }
        }
    }
}