@mixin tablet {
   @media (max-width: 1050px) {
        @content;
   } 
}

.referral-custom {
    // width: 95%;
    padding: 0 40px;
    margin: 20px auto;
    @include tablet {
        padding: 0;
    }

    h2 {
        font-weight: 400;
        font-size: 18px;
        color: #191919;
        @include tablet {
            padding: 0 40px;
        }
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        gap: 10px;
        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
            > div:first-child {
                margin: auto;
            }
            > div:first-child {
                width: 95%;
                margin: 0;
            }
        }

        > div:first-child {
            background-color:#00C805;
        }

        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 30px;
            width: 240px;
            height: 90px;
            background: #FFFFFF;
            border: 1px solid #191919;
            border-radius: 16px;

            p {
                color: #191919;
            }

            p:first-child {
                font-weight: 400;
                font-size: 14px;
            }

            p:nth-child(2) {
                font-weight: 600;
                font-size: 24px;
            }
        }
    }
}

.referral-people {
    background-color: #FFFFFF;
    padding: 15px;
    width: 95%;
    margin: 30px auto;
    text-align: center;
    border-radius: 10px;

    p {
        font-weight: 400;
        font-size: 14px;
        color: #191919;
    }
}